

{% extends 'admin/admin_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
      <div class="row">

      <div class="col-sm-4">
        <div class="card custom-card">
          <div class="card-body" >
            <h5 class="card-title">Registered Employees:</h5>
            <p class="card-text">3</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card custom-card" >
          <div class="card-body">
            <h5 class="card-title">Leave Requests:</h5>
            <p class="card-text">3</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>

  <table class="table table-striped custom-table">
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Emp_1</td>
        <td>Sick Leave</td>
        <td>2023-11-16</td>
        <td>2023-11-18</td>
        <td>Approved</td>
      </tr>
      <tr>
        <td>Emp_2</td>
        <td>Paid Leave</td>
        <td>2023-11-20</td>
        <td>2023-11-22</td>
        <td>Pending</td>
      </tr>
      <tr>
        <td>Emp_3</td>
        <td>Sick Leave</td>
        <td>2023-10-05</td>
        <td>2023-10-06</td>
        <td>Rejected</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
