{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leave History</title>

 <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin/dashboard.css' %}" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark" id="custom-navbar">
    <div class="container">
      <a class="navbar-brand">LEAVE MANAGEMENT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          <a class="nav-link" href="{% url 'applyleave' %}">Apply Leave</a>
          <a class="nav-link active" aria-current="page" href="#">Leave History</a>
          <a class="nav-link" href="#">Employees</a>
          <a class="nav-link" href="{% url 'leaveRequest' %}">Leave Requests</a>
          <a class="nav-link" href="#">Add Employees</a>
        </div>
      </div>
    </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
       <a class="nav-link" href="{% url 'login' %}">Logout</a>
    </div>
  </nav>
<div class="card">
  <div class="card-header text-center">
    Leave History
  </div>
  <div class="card-body">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Leave Type</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sick Leave</td>
          <td>2023-11-16</td>
          <td>2023-11-18</td>
          <td>Approved</td>
        </tr>
        <tr>
          <td>Paid Leave</td>
          <td>2023-11-20</td>
          <td>2023-11-22</td>
          <td>Pending</td>
        </tr>
        <tr>
          <td>Sick Leave</td>
          <td>2023-10-05</td>
          <td>2023-10-06</td>
          <td>Rejected</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
</body>
</html>
