.navbar {
    background-color: #0976ac;
}

.navbar-dark {
    color: #fff;
}

/* Add your custom styles here */
/*@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");*/

body {
  /*font-family: "Grandstanded";*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#custom-navbar {
  background-color: #0976ac;
}

.main-content {
  margin-top: 60px;
}

.custom-card {
  height: 200px;
}

.custom-table {
  margin-top: 40px;
}

