

{% extends 'admin_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="row">
    <!-- Card 1: Employees -->
    <div class="col-md-6 col-lg-3">
      <div class="card custom-card employees shadow-lg mb-4">
        <div class="card-body">
          <h5 class="card-title">Employees: </h5>
          <p class="card-text">Manage and view employee information.</p>
          <a href="{% url 'employees' %}" class="btn btn-primary">Go to Employees</a>
        </div>
      </div>
    </div>

    <!-- Card 2: Leave Requests -->
    <div class="col-md-6 col-lg-3">
      <div class="card custom-card leave-requests shadow-lg mb-4">
        <div class="card-body">
          <h5 class="card-title">Leave Requests</h5>
          <p class="card-text">Review and manage leave requests.</p>
          <a href="{% url 'leaveRequest' %}" class="btn btn-success">Go to Leave Requests</a>
        </div>
      </div>
    </div>

<!--    &lt;!&ndash; Card 3: Custom Card 1 &ndash;&gt;-->
<!--    <div class="col-md-6 col-lg-3">-->
<!--      <div class="card custom-card custom-1 shadow-lg mb-4">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Custom Card 1</h5>-->
<!--          <p class="card-text">Description of the custom card.</p>-->
<!--          <a href="#" class="btn btn-info">Custom Action</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; Card 4: Custom Card 2 &ndash;&gt;-->
<!--    <div class="col-md-6 col-lg-3">-->
<!--      <div class="card custom-card custom-2 shadow-lg mb-4">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Custom Card 2</h5>-->
<!--          <p class="card-text">Description of the custom card.</p>-->
<!--          <a href="#" class="btn btn-warning">Custom Action</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
{% endblock %}
