{% load static %}
{% if user.is_staff %}
    {% include 'admin_base.html' %}
{% else %}
    {% include 'base.html' %}
{% endif %}

{% block content %}
   <div class="card">
  <div class="card-header text-center">
    Employee Profile
  </div>
       <br>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4 text-center">
             {% if profile_image %}
             <img src="{{ profile_image.url }}" alt="{{ employee.firstname }}'s Profile Image" class="img-fluid rounded-circle" >
             {% else %}
             <img src="{% static 'no_profile_img/no.jpg' %}" alt="Default Profile Image" class="img-fluid rounded-circle" >
             {% endif %}
        </div>
  </div>
    <div class="card-body">
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="employee-id" class="col-md-3 col-form-label">Emp ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-id" value="{{ employee.emp_id }}" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-name" class="col-md-3 col-form-label">Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-name" value="{{ employee.first_name }} {{ employee.last_name }}" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-designation" class="col-md-3 col-form-label">Designation:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-designation" value="{{ employee.designation.designation }}" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-department" class="col-md-3 col-form-label">Department:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-department"  value="{{employee.designation.dep.dep_name}}" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-doj" class="col-md-3 col-form-label">Date of Joining:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-doj" value="{{ employee.date_of_joining }}" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="leave-balance" class="col-md-3 col-form-label">Leave Balance:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="leave-balance" value="{{ balance }}" disabled>
                </div>
            </div>
        </form>
    </div>
</div>
   </div>
   </div>
{% endblock %}
