{% load static %}
{% if user.is_staff %}
    {% include 'admin_base.html' %}
{% else %}
    {% include 'base.html' %}
{% endif %}

  {% block additional_head %}
    <link href="{% static 'css/resetpassword.css' %}" rel="stylesheet">
  {% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% elif 'success' in message.tags %}alert-success{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
    <form action="{% url 'resetpassword' %}" method="POST">
        {% csrf_token %}
        <div class="box">
            <h2>Reset Password</h2>
            <input class="user" type="password" name="oldpassword" placeholder="Old Password" required><br><br>
            <input class="user" type="password" name="newpassword" placeholder="New Password" required><br>
            <input class="pass" type="password" name="confirmpassword" placeholder="Confirm Password" required><br>
            <button>Submit</button><br>
        </div>
    </form>
{% endblock %}
</body>
</html>
