

{% extends 'admin/admin_base.html' %}

{% block title %}Employees{% endblock %}

{% block content %}
  <table class="table table-striped" id="details">
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Emp ID</th>
          <th>Emp Name</th>
          <th>Designation</th>
          <th>DOJ</th>
          <th>Leave Balance</th>
        </tr>
      </thead>
</table>
<script>
        $(document).ready(function() {
            $('#details').DataTable();
        });
    </script>
{% endblock %}
