<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Details</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="{% static 'css/employee/style.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand">LEAVE MANAGEMENT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Dashboard</a>
          <a class="nav-link" href="#">Apply Leave</a>
          <a class="nav-link" href="#"> Leave History</a>
          <a class="nav-link active" aria-current="page" href="#">Employees</a>
          <a class="nav-link" href="#">Leave Requests</a>
          <a class="nav-link" href="{% url 'register' %}">Add Employees</a>
        </div>
      </div>
    </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-link" href="#">Profile</a>
       <a class="nav-link" href="{% url 'login' %}">Logout</a>
    </div>
  </nav>
<br><br>
<table class="table table-striped">
      <thead>
        <tr>
          <th>Sl No.</th>
          <th>Emp ID</th>
          <th>Emp Name</th>
          <th>Designation</th>
          <th>DOJ</th>
          <th>Leave Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
        </tr>
        <tr>
           <td>2</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
        </tr>
        <tr>
           <td>3</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
          <td>NULL</td>
        </tr>
      </tbody>
    </table>
