<!-- applyleave.html -->

{% extends 'admin/admin_base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
   <div class="card">
  <div class="card-header text-center">
    Employee Profile
  </div>
       <br>
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4 text-center">
            <img src="https://picsum.photos/400/200" alt="Employee Image" class="img-fluid rounded-circle" style="width: 150px; height: 150px; margin-bottom: 20px;">
        </div>
    </div>
  </div>
    <div class="card-body">
    <div class="container">
        <form>
            <div class="form-group row">
                <label for="employee-id" class="col-md-3 col-form-label">Emp ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-id" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-name" class="col-md-3 col-form-label">Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-name" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-designation" class="col-md-3 col-form-label">Designation:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-designation" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-department" class="col-md-3 col-form-label">Department:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-department" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-doj" class="col-md-3 col-form-label">Date of Joining:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-doj" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-manager" class="col-md-3 col-form-label">Manager:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-manager" disabled>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="leave-balance" class="col-md-3 col-form-label">Leave Balance:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="leave-balance" disabled>
                </div>
            </div>
        </form>
    </div>
</div>
   </div>
{% endblock %}
