{% extends 'admin/admin_base.html' %}
{% load static %}
{% block title %}Add Employees{% endblock %}
{% block additional_head %}
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
 <div class="card-header text-center">
    Register User
  </div>
<br>

<form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
            <div class="form-group row">
                <label for="employee-id" class="col-md-3 col-form-label bold-label">Emp ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-id" name="empid" required >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-firstname" class="col-md-3 col-form-label bold-label">First Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-firstname" name="fname" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-lastname" class="col-md-3 col-form-label bold-label">Last Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-lastname" name="lname" required>
                </div>
            </div>
            <br>
             <div class="form-group row">
                <label for="employee-mail" class="col-md-3 col-form-label bold-label">Email ID:</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" id="employee-mail" name="email" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-department" class="col-md-3 col-form-label bold-label">Department:</label>
                <div class="col-md-9">
                    <select id="employee-department" name="dept" onchange="showInput()">
                        {% for department in departments %}
                            <option value="{{ department }}">{{ department }}</option>
                        {% endfor %}
                        <option value="Other">Other</option>
                    </select>
                <br><br>
                <div id="other-input" style="display: none;">
                     <label for="other-department">Other:</label>
                     <input type="text" id="other-department" name="other-dept">
                </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-designation" class="col-md-3 col-form-label bold-label">Designation:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-designation" name="desig" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-doj" class="col-md-3 col-form-label bold-label">Date of Joining:</label>
                <div class="col-md-9">
                    <input type="date" class="form-control" id="employee-doj" name="doj" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="is-manager" class="col-md-3 col-form-label bold-label">Is Manager</label>
                <div class="col-md-9">
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="is-manager-yes" name="ismanager" value="yes" required>
                        <label class="form-check-label" for="is-manager-yes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="is-manager-no" name="ismanager" value="no" required>
                        <label class="form-check-label" for="is-manager-no">No</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-pass" class="col-md-3 col-form-label bold-label">Password:</label>
                <div class="col-md-9">
                    <input type="password" class="form-control" id="employee-pass" name="password" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-image" class="col-md-3 col-form-label bold-label">Employee Image:</label>
                <div class="col-md-9">
                     <input type="file" class="form-control-file" id="employee-image" name="employee_image" accept="image/*">
                </div>
            </div>

    <br>
            <button>Submit</button>
        </form>

{% endblock %}
