<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Details</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="{% static 'css/employee/style.css' %}" rel="stylesheet">
    <script>
        function showInput() {
            var departmentSelect = document.getElementById("employee-department");
            var otherInput = document.getElementById("other-input");

            if (departmentSelect.value === "Other") {
                otherInput.style.display = "block";
            } else {
                otherInput.style.display = "none";
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand">LEAVE MANAGEMENT</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="#">Dashboard</a>
          <a class="nav-link" href="#">Apply Leave</a>
          <a class="nav-link" href="#"> Leave History</a>
          <a class="nav-link" href="{% url 'employee' %}"> Employees</a>
          <a class="nav-link" href="#">Leave Requests</a>
          <a class="nav-link active" aria-current="page" href="#">Add Employees</a>
        </div>
      </div>
    </div>
  <div class="navbar-nav ml-auto">
      <a class="nav-link" href="{% url 'profile' %}">Profile</a>
       <a class="nav-link" href="{% url 'login' %}">Logout</a>
    </div>
  </nav>
<br>
<div class="container">
 <div class="card-header text-center">
    Register User
  </div>
<br>

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
            <div class="form-group row">
                <label for="employee-id" class="col-md-3 col-form-label bold-label">Emp ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-id" name="empid" required >
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-firstname" class="col-md-3 col-form-label bold-label">First Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-firstname" name="fname" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-lastname" class="col-md-3 col-form-label bold-label">Last Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-lastname" name="lname" required>
                </div>
            </div>
            <br>
             <div class="form-group row">
                <label for="employee-mail" class="col-md-3 col-form-label bold-label">Email ID:</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" id="employee-mail" name="email" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-department" class="col-md-3 col-form-label bold-label">Department:</label>
                <div class="col-md-9">
                    <select id="employee-department" name="dept" onchange="showInput()">
                        <option value="Human Resources">Human Resources</option>
                        <option value="Sales">Sales</option>
                        <option value="Information Technology">Information Technology</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Other">Other</option>
                    </select>
                <br><br>
                <div id="other-input" style="display: none;">
                     <label for="other-department">Other:</label>
                     <input type="text" id="other-department" name="other-dept">
                </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-designation" class="col-md-3 col-form-label bold-label">Designation:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-designation" name="desig" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-doj" class="col-md-3 col-form-label bold-label">Date of Joining:</label>
                <div class="col-md-9">
                    <input type="date" class="form-control" id="employee-doj" name="doj" required>
                </div>
            </div>
            <br>

    <br>
            <button>Submit</button>
        </form>

</div>
</body>
</html>
