

{% extends 'admin/admin_base.html' %}

{% block title %}Add Employees{% endblock %}

{% block content %}
 <div class="card-header text-center">
    Register User
  </div>
<br>

<form>
            <div class="form-group row">
                <label for="employee-id" class="col-md-3 col-form-label bold-label">Emp ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-id" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-firstname" class="col-md-3 col-form-label bold-label">First Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-firstname" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-lastname" class="col-md-3 col-form-label bold-label">Last Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-lastname" required>
                </div>
            </div>
            <br>
             <div class="form-group row">
                <label for="employee-mail" class="col-md-3 col-form-label bold-label">Email ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-mail" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-designation" class="col-md-3 col-form-label bold-label">Designation:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-designation" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-department" class="col-md-3 col-form-label bold-label">Department:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-department" required>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="employee-doj" class="col-md-3 col-form-label bold-label">Date of Joining:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="employee-doj" required>
                </div>
            </div>
            <br>

    <br>
            <button>Submit</button>
        </form>

{% endblock %}
