.lms {
    text-align: center;
}
h2{
  color: rgb(9, 118, 172);
  text-align:center;
}
body {
    color:rgb(9, 118, 172);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
}

form {
    text-align: center;
}

.box {

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 20px;
    background-color: whitesmoke;
    margin: 10px;
    width: 400px;
}
input{


  border-radius: 10px;
  padding: 10px;
}

input.user{

  font-size: medium;
  padding: 20px;
  width: 350px;
}

input.pass {

    font-size: medium;
    padding: 20px;
    width: 350px;
    margin-top: 20px;
    margin-bottom: 10px;
}

a{

    padding: 5px;
}

button {

    color: whitesmoke;
    background-color:rgb(9, 118, 172);
    height: 50px;
    width: 400px;
    font-size: medium;
    border-radius: 10px;
    margin-top: 30px;
}
.th{
    margin-left: 80px;
    margin-top: 10px;
}

.back-button {
    background-color: rgb(9, 118, 172);
    color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-button:hover {
    background-color: #09617c;
}